<!DOCTYPE html>
html(lang="ru")
    head
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        style.
            body {
                width: 100%;
                padding: 0;
                margin: 0;
                overflow: hidden;
            }

            .videoWrapper {
                position: relative;
                padding-bottom: 56.25%; /* 16:9 */
                height: 0;
                overflow: hidden;
                opacity: 0;
                transition: opacity 1s ease;
            }

            .videoWrapper .video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
            }

            .muteWr {

                position: absolute;
                left: calc(50% - 40px);
                top: calc(50% - 32px);
                width: 80px;
                height: 64px;
                cursor: pointer;
                padding: 8px 16px;
                box-sizing: border-box;
                background-color: rgba(43, 51, 63, 0.3);
                border: 0.06666em solid #fff;
                border-radius: 0.3em;
                transition: all 0.4s;
                display: none;
            }

            .videoWrapper[muted="true"] .muteWr {
                display: block;
            }

            .muteWr:hover {
                background-color: rgba(43, 51, 63, 0.7);
            }

            .muteWr svg {
                width: 100%;
                height: auto;
            }

            .langWr {
                position: absolute;
                top: 4px;
                right: 4px;
                background-color: rgba(43, 51, 63, 0.7);
                color: white;
                font-weight: bold;
                padding: 4px;
                border-radius: 4px;
                font-size: 10px;
                cursor: pointer;
                opacity: 0.3;
                font-family: sans-serif;
            }

            .langWr:hover {
                opacity: 1;

            }
        link( href="/gosa2023/video-js.css" rel="stylesheet")
        script(src="/gosa2023/video.min.js")
    body
        .videoWrapper(muted="false")
            video( id="video" class="video video-js vjs-big-play-button vjs-big-play-centered vjs-show-big-play-button-on-pause vjs-poster" playsinline width="1200" height="720" controls muted loop autoplay)
            .muteWr()
                include 172512_mute_icon.svg
            .langWr
                if lang == "en"
                    .lang RUS
                else
                    .lang ENG
        script let lang = !{JSON.stringify(lang)}
        script.


            let state = null;
            let player = videojs('video');
            let wr = document.querySelector(".videoWrapper")
            player.on("canplay",()=>{
                consolw.log("canplay")
            })
            player.on('volumechange', (e) => {
                wr.setAttribute("muted", player.muted());
            });
            player.on('play', (e) => {
                wr.setAttribute("muted", player.muted());
            });
            player.on("pause", () => {
                player.muted(false)
            })
            document.querySelector(".langWr").onclick = (e) => {
                e.preventDefault()
                e.stopPropagation();
                lang = lang == "ru" ? "en" : "ru";
                updateState(true);
                document.querySelector(".lang").innerHTML=(lang == "ru" ? "ENG" : "RUS");
            }

            wr.onclick = (e) => {
                e.preventDefault();
                e.stopPropagation();
                player.muted(false)
            }
            updateState();
            setInterval(updateState, 60 * 1000)

            async function updateState(force) {
                try {
                    let res = await fetch("/gosa2023/state")
                    if (res.ok) {
                        let dt = await res.json()
                        if (state != dt.state || force) {
                            state = dt.state
                            dt.items.forEach(item => {
                                if (item.id == state) {
                                    player.src(item.src.replace("{lang}", lang), "application/vnd.apple.mpegurl");
                                    let poster = item.poster.replace("{lang}", lang);
                                    player.poster_ = item.poster.replace("{lang}", lang);
                                    setTimeout(() => {
                                        wr.style.opacity = 1;
                                    }, 200)

                                }
                            })
                        }
                    }
                } catch (e) {
                    console.warn(e)
                }

            }


